textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:active,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

a:hover,
a:active {
	cursor: pointer;
}

:root {
	--lc-yellow: rgb(218, 172, 0);
}

.text-lc {
	color: var(--lc-yellow);
}

.text-lc.active:hover {
	color: rgb(248, 231, 180);
}

.bg-lc {
	background: var(--lc-yellow);
}
